*{ 
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
header {
	width: 100%;
  text-align: left;
  background-color: rgba(35,58,93,0.8);
  color: white;
  padding: 20px;
  height: 80px;
  position: fixed;
  }
 .cab_nav{
 	width: 100%;
 	padding: 20px;
 	text-align: left;
 	position: fixed;
 	top: 0px;
 }
 .cab_nav ul li {
 	list-style: none;
 	display: inline-block;
 	padding: 10px 50px;
 	color: white;
 	font-size: 20px;
 	font-family: sans-serif;
 	cursor: pointer;
 }
 .cab_nav ul li a {
 	text-align: center;
 	text-decoration:none;
 	color: white;

 }
.nombr_logo {
	width: 300px ;
	padding: 0px 20px;
	float: left;
	position: relative;
	top: 5%;
	left: 2%;
	color: white;
	font-size: 30px;
}
.logo_img {
	width: 80px;
	position: absolute;
	transform: translateX(-40%) translateY(-28%) ;
	}
.contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) ;
	padding: 25px 10px;
	border: solid;
	background-color: rgba(21, 51, 93, 0.6);
}
.TITULO_CONT{
	font-size: 40px;
	text-align: center;
	padding: 20px 10px;
	color: white;
}
.parrafo_cont {
    color: white;
    font-size: 18px;
    text-align: justify;
}
.video {
	position: fixed;
	min-width: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: -1;
}
.foot {
	background-color: rgba(29,50,80,0.6);
	margin-top: 45%; 
	width: 100%;
	padding: 20px 0px;
	position: relative;
}
.foot_p {
	color: white;
	text-align: right;

}
.marca{
	background-color: rgba(40,55,71,0.7);
}

